
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">

                    <img class="image-fluid" style="width: 150px;" src="/assets/password.jpg" alt="">
                </div>
                <h1 class="text-center">Login Here</h1>
                <form (ngSubmit)="onSubmit()"> 

                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Username</mat-label>
                        <input name="username"
                        [(ngModel)] = "credentials.username"        
                
                        type="text" required matInput/> 
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input name="password"
                        [(ngModel)] = "credentials.password"
                        type="password" required matInput/> 
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">Reset</button>
                    </div>  
                    
                </form>
                  
            </div>
        </div>
        
    </div>
</div>
